{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Melanomaniac | A career portfolio</title>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}" rel="stylesheet">

<!-- Style for Unity -->
<link rel="stylesheet" href="{% static 'TemplateData/style.css' %}">

<!-- Custom CSS -->
<!-- Custom Fonts -->
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
<!-- favicon references -->
<link rel="icon"href="{% static 'favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">
<!-- end of favicon references -->

<!-- Unity Scripts -->
<script src="{% static 'TemplateData/UnityProgress.js' %}"></script>
<script src="{% static 'Build/UnityLoader.js' %}"></script>	
<script>
	var unityInstance = UnityLoader.instantiate("unityContainer", "{% static 'Build/Bar Brawl 0.1.json' %}", {onProgress: UnityProgress});
</script>
<!-- End of Unity Scripts -->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index">
		Melanomaniac
		</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index">Home</a>
			</li>
			<li>
			<a href="brawl">Personal Project</a>
			</li>
			<li>
			<a href="contact">Hire me</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Bar Brawl</h1>
				<p class="intro-text">
					Fight,Drink,Compete for the highest score!
				</p>
				<a href="#single-project" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Project Details Section -->
<section id="single-project">
<div class="container content-section text-center">
	<div class="row">
		<h2>Bar Brawl Project</h2>
	</div>
	<div class="row">	
		<div class="col-lg-12">
		<div class ="webgl-content" id="unityContainer" style="width: 288px; height: 512px;"></div>	
		</div>
	</div>	
	<div class="row">	
		<div class="col-lg-8 col-lg-offset-2" style="margin-top:20px">
			<p>
				This project springed into my mind on a random day, I decided to make it into a fun casual game. Still under development...
			</p>			
			<p>
				<a href="#" class="btnghost"><i class="fa fa-envelope"></i> Request similar project</a> 
				<i style="font-size:12px;margin-right:3px;"> or </i> 
				<a href="index.html#portfolio" class="btnghost"><i class="fa fa-camera"></i> Back to projects gallery</a>
			</p>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; Melanomaniac 2021<br/>
		"Aries" Template by WowThemes.net
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>