{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Melanomaniac | A career portfolio</title>
<!-- Bootstrap Core CSS -->
<link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">
<!-- Custom CSS -->
<link href={% static 'css/theme.css' %} rel="stylesheet">
<!-- Custom Fonts -->
<link href={% static 'font-awesome/css/font-awesome.min.css' %} rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css"> 
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- favicon references -->
<link rel="icon"href="{% static 'favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">
<!-- end of favicon references -->
	
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index">
		Melanomaniac </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index">Home</a>
			</li>
			<!-- <li>
			<a href="brawl">Personal Project</a> 
			</li> -->
			<li>
			<a href="contact">Hire me</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">My name is..</h1>
				<p class="intro-text">
					Alireza Ghassempour
				</p>
				<a href="#about" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- About Section -->
<section id="about">
<div class="container content-section text-center">
	<div class="row">
		<h2>LIL' ABOUT ME</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				I am a software engineer. I started my programming journey as a game developer and I am always excited to learn more and continue to grow.
			</p>
			<p>
				{% for file in files_admin %}
				<a href="{{file.adminupload.url}}" download="{{file.adminupload.url}}" class="btnghost"><i class="fa fa-download"></i>My {{file.title}}</a>
				{%endfor%}
			</p>
		</div>
	</div>
</div>
</section>
<section id="portfolio">
<div class="gallery">
	<ul>
		{%for item in portfolio_items%}
		<li class="col-md-3">
		<a href="portfolio-item/{{item.id}}">
		<img src="{{item.img.url}}" alt="">
		</a>
		{% endfor %}
	</ul>
</div>
</section>
<!-- Contact Section -->
<section id="contact">
<div class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Contact me</h2>
			<p>
				If you're interested in working with me or you just want to hang out, I'd love to hear from you. I'm always open to new stuff to get excited about.
			</p>
			<p>
				<i><a href="mailto:alirezag533@gmail.com" style="border-bottom:1px dashed #ccc;">Alirezag533@gmail.com</a></i>
			</p>
			<ul class="list-inline banner-social-buttons">
				<li>
				<a href="https://www.linkedin.com/in/alireza-ghassempour-a83706161/" class="btn btnghost btn-lg"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">Linkedin</span></a>				
				</li>
				<li>
				<a href="https://twitter.com/Melanomaniac" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
				</li>
				<li>
				<a href="https://t.me/Omega53" class="btn btnghost btn-lg"><i class="fa fa-paper-plane  fa-fw"></i><span class="network-name">Telegram</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; Melanomaniac 2021<br/>
		"Aries" Template by WowThemes.net
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>